---
layout: default
---

<article class="max-w-3xl mx-auto">
    <p class="mb-12">
        <a href="{{ '/' | relative_url }}" class="text-sm hover:text-neutral-600 transition-colors">
            ← Back
        </a>
    </p>

    <header class="mb-8 border-b border-black pb-8">
        <h1 class="font-display text-4xl mb-4">
            {{ page.title }}
        </h1>
        {% if page.subtitle %}
        <h2 class="text-2xl text-neutral-700 mb-2">{{ page.subtitle }}</h2>
        {% endif %}
        <time class="text-sm block">
            {{ page.date | date: "%B %-d, %Y" }}
        </time>
    </header>

    <div class="prose max-w-none">
        {{ content }}
    </div>
</article>